.add-modal {

    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 20px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.addmodal-content {
    background-color: #F8F8F8;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
}

.input-add {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #878787;
    margin-top: 5px;
    
    margin-bottom: 20px;
}

.add-btn-section {
    display: flex;
    justify-content: flex-end;

}

.add-btn {
    padding: 10px 19px;
    cursor: pointer;
    background-color: rgb(89, 2, 2);
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    line-height: 1;
    color: white;
    border: 0;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px
}

.cancel {
    background-color: rgb(189, 17, 17);
}

.save {
    background-color: rgb(10, 19, 151);
}